<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup] = "signupForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
          <label for="project">Project Name</label>
            <input type="text" name="projectName" id="projectName" class="form-control" formControlName = "name">
        </div>
        <span class="help-block" *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched"><span *ngIf = "signupForm.get('name').hasError['forbiddenName']">You can't give it this name</span>
        <span *ngIf = "signupForm.get('name').hasError['required']">This is a required field</span>
      </span>
        <div class="form-group">
          <label for="mail">Email</label>
            <input type="email" class="form-control" id="email" name="email" formControlName = "email">
        </div>
        <span class="help-block" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Please enter the Email</span>
        <div class="form-group">
          <label for="status">Project Status</label>
          <select name="status" id="status" class="form-control" formControlName="status">
            <option *ngFor = "let status of projectStatus" value="status"> {{status}} </option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
